<h1>Smart Doorbell</h1>

<div class="FormContainer">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="formGroup">
            <div class="right">
                <label for="Username">Brugernavn :</label>
                <label for="Password">Kodeord :</label>
                <label for="Password">Bekræft kodeord :</label>
            </div>
            <div class="left">
                <input type="text" id="Username" formControlName="username" placeholder="Brugernavn">
                <input type="password" id="Password" formControlName="password" placeholder="Kodeord">
                <input type="password" id="Password" formControlName="password2" placeholder="Kodeord">
            </div>
        </div>
        <input style="float: left;" type="button" class="btn" value="Anuller" (click)="Login()" >
        <input style="float: right;" class="btn" type="submit" value="Opret konto">
    </form>
</div>
